<style> /* Estilos para a classe .content3 */
    .content3 {
        min-height: calc(100vh - 60px);
        padding-bottom: 60px;
    }
    
    /* Estilos para o elemento <footer> */
    footer {
        background-color: #0c4923c7;
        color: #ffffffa6;
        text-align: center;
        padding: 10px;
        font-size: small;
        /* Remova a propriedade position: absolute; para que o footer fique abaixo de todos os outros itens */
        left: 0;
        right: 0;
        height: auto; /* Altura automática para se ajustar ao conteúdo */
    }
    
    /* Estilos para o elemento com id 'rodape' dentro do footer */
    #rodape {
        display: flex;
        flex-direction: row; /* Alinha os elementos horizontalmente */
        justify-content: space-between; /* Espaço entre os elementos */
        align-items: center; /* Centraliza verticalmente */
        width: 80%;
        padding: 0.8px;
    }
    
    /* Estilos para a coluna 2 do rodapé */
    .col2_rodape {
        text-align: center;
        margin: 0 auto; /* Centraliza horizontalmente */
    }</style>

<footer>
    <div id="rodape">
      
        <div class="col2_rodape">
           
            © 2023 - Desenvolvido Pelos Alunos - Todos direitos Reservados.
        </div>
    </div>
</footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>