<!DOCTYPE html>
<html>
<head>
    <title>Seu Site</title>
    <style>
    

       
    .navbar {
    background-color: #0c4923c7;
    height: 60px;
    display: flex;
    justify-content: space-between; /* Espaço entre a logo e os links */
    align-items: center; /* Alinhar verticalmente ao centro */
    padding: 0 20px; /* Adicionar preenchimento para espaçamento */
}

        .navbar a {
            text-decoration: none;
            color: white;
            margin-left: 20px;
        }

 .logo-img {
         
            max-height: 40px;
        }

   

    
        
    </style>
</head>
<body>
    <div class="navbar">
        <div class="nav-left">
            <a href="./login" class="brand-logo">
                <img src="/images/logoPequena.png" class="logo-img">
            </a>
            
        </div>
        <div id="nav-right">
            <a href="/home1">Home</a>
            <a href="/buscarFuncionariosPorEmpresa">Funcionários Cadastrados</a>
            <a href="/buscarDenunciaPorEmpresa">Monitoramento de Denuncias</a>
            <a href="/novo">Cadastrar Funcionário</a>
        </div>
    </div>

</body>
</html>