<nav>
  <div class="nav-wrapper">
      <a href="./login" class="brand-logo">
          <img src="/images/logoPequena.png" class="logo-img">
      </a>
      <div id="textu">ProSafety Connect</div>    
  </div>
</nav>
<style>.nav-wrapper {
  background-color: #0c4923c7 !important;
  
}</style>