<nav>
  <div class="nav-wrapper">
      <a href="./login" class="brand-logo">
          <img src="/images/logoPequena.png" class="logo-img">
      </a>
      <div id="textu">ProSafety Connect</div>    
  </div>
</nav>
<style>.nav-wrapper {
  background-color: rgba(0, 105, 81, 0.7) !important;
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}</style>