<!-- resultado_pesquisa_denuncia.ejs -->

<h1>Resultado da Pesquisa de Denúncias</h1>

<% if (denuncias.length === 0) { %>
    <p>Nenhuma denúncia encontrada para a empresa especificada.</p>
<% } else { %>
    <ul>
        <% denuncias.forEach(function(denuncia) { %>
            <li><%= denuncia.titulo %> - <%= denuncia.descricao %></li>
        <% }); %>
    </ul>
<% } %>

<a href="/buscarDenunciaPorEmpresa">Voltar para a pesquisa</a>