<%- include('../partials/header') %>
        <%- include('../partials/navbar3') %>
    
        <div class="row">
            <div class="col s1"><span class="flow-text"></span>  <img class="imagem-fora-container" src="/images/logo.png"></div>
            <div class="col s11" style="padding-top:30px;"><span class="flow-text"></span> <div class="col s6 offset-s6"><span class="flow-text">
              
              
              <div class="col s4">
                <div class="video-container">
                  <iframe width="853" height="480" src="//www.youtube.com/embed/Q8TXgCzxEnw?rel=0" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
            <div class="col s4">
              <div class="video-container">
                  <iframe width="853" height="480" src="//www.youtube.com/embed/Q8TXgCzxEnw?rel=0" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
            <div class="col s4">
              <div class="video-container">
                  <iframe width="853" height="480" src="//www.youtube.com/embed/Q8TXgCzxEnw?rel=0" frameborder="0" allowfullscreen></iframe>
                </div>
              <br>
            </div>
            <div class="col s4">
              <div class="video-container">
                  <iframe width="853" height="480" src="//www.youtube.com/embed/Q8TXgCzxEnw?rel=0" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
            <div class="col s4">
              <div class="video-container">
                  <iframe width="853" height="480" src="//www.youtube.com/embed/Q8TXgCzxEnw?rel=0" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
            <div class="col s4">
              <div class="video-container">
                  <iframe width="853" height="480" src="//www.youtube.com/embed/Q8TXgCzxEnw?rel=0" frameborder="0" allowfullscreen></iframe>
                </div>
            </div></span></div>
        </div></div>
          
           
 
        <%- include('../partials/footer') %>