
<div class="content3"></div>



<h1>Buscar Funcionários por Empresa</h1>
<form action="/buscarDenunciaPorEmpresa" method="POST">
    <label for="empresaId">Selecione a Empresa:</label>
    <select name="empresaId" id="empresaId">
        <% empresas.forEach(function(empresa) { %>
            <option value="<%= empresa.id %>"><%= empresa.nome %></option>
        <% }); %>
    </select>
    <button type="submit">Buscar Funcionários</button>
</form>
